* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #2C5784; }

.hljs-keyword, .hljs-built_in, .hljs-selector-class {
  color: #DACC3E; }

.hljs-title, .hljs-attribute, .hljs-string {
  color: #f3711a; }

.hljs-symbol, .hljs-variable {
  color: #ff3a0d; }

.hljs-comment {
  color: #888888; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal p,
.reveal a,
.reveal li {
  color: #ffffff;
  font-family: 'PT Sans'; }

.reveal h1,
.reveal h2 {
  line-height: 1.6; }

.reveal h1 {
  position: relative;
  margin-bottom: 0;
  line-height: 0.9;
  top: 40px; }
  .reveal h1 + h3 {
    position: relative;
    top: 40px;
    text-align: center;
    line-height: 1.35;
    font-size: 40px;
    margin: auto;
    max-width: 600px; }
    .reveal h1 + h3 + p {
      font-size: 30px;
      text-align: center;
      position: relative;
      top: 180px; }
      .reveal h1 + h3 + p + p {
        text-align: center;
        position: relative;
        top: 175px;
        opacity: 0.4;
        font-size: 20px; }

.reveal h2,
.reveal h3,
.reveal h4,
.reveal p,
.reveal li {
  text-align: left; }

.reveal pre {
  margin: 30px auto; }

.reveal h1 {
  font-size: 72px;
  margin: 20px auto 50px; }

.reveal h2 {
  font-size: 50px;
  margin: 15px auto 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 0; }
  .reveal h2 code {
    font-size: 50px;
    margin: 0 15px;
    opacity: 0.2; }

.reveal h3 {
  font-size: 40px;
  margin: 10px auto 35px; }

.reveal p,
.reveal code,
.reveal li,
.reveal a {
  font-size: 26px;
  margin: 5px auto; }

.reveal a {
  opacity: 0.8; }
  .reveal a:hover {
    opacity: 1; }

.reveal pre {
  text-align: left;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2); }

.reveal p,
.reveal code,
.reveal li {
  line-height: 1.9; }

.reveal ul {
  list-style-position: inside; }
  .reveal ul + p {
    margin-top: 25px; }

.reveal code {
  font-family: 'Courier';
  text-align: left;
  color: #ffffff; }
  em .reveal code {
    color: #DACC3E; }

.reveal blockquote {
  border-left: 4px solid #ffffff;
  padding: 0 0 0 25px;
  margin: 55px 0;
  font-style: italic; }
  .reveal blockquote p {
    letter-spacing: 0.5d px; }
  .reveal blockquote:last-child {
    margin-bottom: 0; }

.reveal em {
  color: #DACC3E; }
